.header {
  width: 100vw;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  height: var(--height-menu);
  padding: var(--padding-main);
  background-color: var(--background-color-2);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-nav);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
