.navigation__links {
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation__link {
  height: var(--height-menu);
  display: flex;
  align-items: center;
  padding: 24px 20px;
  color: rgba(255, 255, 255, 0.7);
}

.active {
  background-color: var(--background-color-1);
  color: var(--secondary-color);
}
